@model IEnumerable<NoThingStore.Models.VideoCourse>

@{
    ViewData["Title"] = "Video Courses";
}

<h1>Video Courses</h1>

<div class="row">
    @foreach (var product in Model)
    {
        @Html.Partial("_ProductCard", product)
    }
</div>