@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Title"];
}

<h1>@Localizer["Title"]</h1>

@if (User.IsInRole("Admin") || User.IsInRole("Manager"))
{
    <a asp-action="Create">@Localizer["Create New"]</a>
}

<div class="row">
    @foreach (var product in Model)
    {
        <partial name="_ProductCardPartial" model="@product" />
    }
</div>