@model IEnumerable<NoThingStore.Models.VideoCourse>

@{
    ViewData["Title"] = "Video Courses";
}

<h1>Video Courses</h1>

@if (User.IsInRole("Admin") || User.IsInRole("Manager"))
{
    <a asp-action="Create">Create New</a>
}

<div class="row">
    @foreach (var product in Model)
    {
        @Html.Partial("_ProductCard", product)
    }
</div>