@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model NoThingStore.Models.ShoppingCart

@{
    ViewData["Title"] = @Localizer["Title"];
}

<h1>@Localizer["Title"]</h1>

<h2>@Localizer["OrderCompleted"]</h2>
<p>@Localizer["Thank"]</p>
