@model IEnumerable<NoThingStore.Models.ActivationKey>

@{
    ViewData["Title"] = "ActivationKeys";
}

<h1>Activation Keys</h1>

<div class="row">
    @foreach (var product in Model)
    {
        @Html.Partial("_ProductCard", product)
    }
</div>