@model Microsoft.AspNetCore.Identity.IdentityUser

<h1>Edit User</h1>

<form asp-action="EditUser" method="post">
    <input type="hidden" asp-for="Id" />

    <div>
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" />
    </div>
    <div>
        <label asp-for="UserName">User Name:</label>
        <input asp-for="UserName" />
    </div>

    <button type="submit">Save</button>
</form>
