@model IEnumerable<NoThingStore.Models.Software>

@{
    ViewData["Title"] = "Softwares";
}

<h1>Softwares</h1>

<div class="row">
    @foreach (var product in Model)
    {
        @Html.Partial("_ProductCard", product)
    }
</div>