@model IEnumerable<NoThingStore.Models.EBook>

@{
    ViewData["Title"] = "EBooks";
}

<h1>EBooks</h1>

@if (User.IsInRole("Admin") || User.IsInRole("Manager"))
{
    <a asp-action="Create">Create New</a>
}

<div class="row">
    @foreach (var product in Model)
    {
        @Html.Partial("_ProductCard", product)
    }
</div>