@model IEnumerable<NoThingStore.Models.EBook>

@{
    ViewData["Title"] = "EBooks";
}

<h1>EBooks</h1>

<div class="row">
    @foreach (var product in Model)
    {
        @Html.Partial("_ProductCard", product)
    }
</div>